.card {
  height: 75px;
  margin: 5px;
  display: flex;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(34, 34, 34, 0.15);
}

.trip-icon {
  height: 100%;
  width: 76px;
  background-size: cover;
  background-position: center;
}

.time {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #45b8f3;
  text-align: center;
}

.link {
  text-decoration: none;
}
