/* The popup bubble styling. */
.popup-bubble {
  /* Position the bubble centred-above its parent. */
  position: absolute;
  top: -35px;
  left: 0;
  transform: translate(-50%, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  /* Style the bubble. */
  background-color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: sans-serif;
  overflow-y: auto;
  max-height: 60px;
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
}
/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
  cursor: auto;
  height: 0;
  position: absolute;
  width: 200px;
}
#to-sight-button {
  background: none;
  border: none;
  width: 10%;
  height: 10%;
  margin: 10px;
}